body {background-color:  #FFFFEO; 
      font-family: Arial, sans-serif;
      color: #191970;}
.kartu-profil (
      width: 300px;
      margin: 50px auto;
      padding: 20px
      background-color: white;
      boeder-radius:15px;
      box-shadow: 0 4px rgba (0,0,0,0.1);
      text-align: center;}
